# Virtual environments to ignore
venv/
env/
ENV/
.venv/
.ENV/

# Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# macOS specific files
.DS_Store

# Log files
*.log

# SQLite database files
*.sqlite3

# Database files
*.db

# Data files
*.dat

# HDF5 files
*.h5
*.hdf5

# Model files
*.model

# Joblib files
*.joblib

# Pickle files
*.pkl

# PyCharm project files
.idea/

# Libraries installed by pip
lib/
bin/
share/
include/
