venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
.idea/
*.log
*.sqlite3
*.db
*.dat
*.csv
*.h5
*.hdf5
*.model
*.joblib
*.pkl
*.ipynb_checkpoints/
# Exclude libraries installed by pip
lib/
bin/
share/
include/